<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.nerlichman.claudebar</string>
	<key>CFBundleName</key>
	<string>ClaudeBar</string>
	<key>CFBundleDisplayName</key>
	<string>ClaudeBar</string>
	<key>CFBundleExecutable</key>
	<string>ClaudeBar</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.3</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Nicolas Erlichman</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/nerlichman/claudebar/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>DSnVH671ijqrI9frl0EpJs3Kbrm8L//H05FbzhV6t/I=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
